[user]
	name = ISOBE Kazuhiko
	email = muramasa64@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	precomposeunicode = true
	quotepath = false
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"
[alias]
	st = status --branch --short
	l = log --decorate --stat --patch
	co = checkout
	cv = commit -v
	n = now --all --stat
[push]
	default = simple
[color]
	ui = auto
[merge]
	defaultToUpstream = true
