.DS_Store
~$*.xls[x]
*.swp
.*.un~
*~
/vendor/bundle/
fuel/app/config/isobe/*
.vim/
.vscode
.config/karabiner/karabiner.json
.config/direnv/
.config/gcloud/
.config/configstore/
*-py-venv/*
.envrc
terraform.tfstate*
.terraform
*.tsvars
*.code-workspace
