[user]
	name = Isobe Kazuhiko
	email = muramasa64@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	precomposeunicode = true
	quotepath = false
	editor = vim -c \"set fenc=utf-8\"
	pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight|less
	excludesfile = ~/.gitignore
[alias]
	st = status --branch --short
	l = log --decorate --stat --patch
	co = checkout
	cv = commit -v
	n = now --all --stat
	b = branch
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short
[push]
	default = simple
[color]
	ui = auto
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[merge]
	defaultToUpstream = true
	ff = false
[branch "master"]
	mergeoptions = --no-ff
	rebase = true
[rebase]
	autostash = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[log]
	date = iso
