.DS_Store
~$*.xls[x]
*.swp
.*.un~
*~
/vendor/bundle/
fuel/app/config/isobe/*
.vim/
.config/karabiner/
.config/yarn/
.config/direnv/
.config/gcloud/
.config/configstore/
.config/NuGet/
.config/anyenv/
.config/AWSVPNClient/
.config/iterm2/
.config/fontconfig/
*-py-venv/*
.envrc
terraform.tfstate*
.terraform
*.tsvars
packaged.yaml
node_modules/
__pycache__/
